  
  * {  
      margin: 0;  
      padding: 0;  
      box-sizing: border-box;  
      font-family: 'montserat', sans-serif;
    
    }

     


     header {  
          margin: 20px 42px;   
     }

     .topo {    
         font-weight: 600px;  
         font-size: 24px;  
         line-height: 21px;  
         text-align: center;  
         letter-spacing: 0.875px;  
         color: rgba(152, 157, 156, 1);
        margin-right: 20px;  
        cursor: pointer;
     }
   
    .topo:hover {  
               color: rgb(39, 8, 212)
    }

    .prim-button {  
      background: rgb(12, 29, 184);
      border: rgb(12, 29, 184);  
      border-radius: 70px; 
      width: 124px;  
      height: 42px;  
      cursor: pointer;  
      font-weight: 500px;  
      font-size: 16px;  
      line-height: 24px;  
      letter-spacing: 1px;  
      color: rgba(255, 255, 255, 1);
      transition: transition 0.02s;   
     }  

     .prim-button:hover{  
      transform: scale(1.05);
  }
  
   img {  
       width: 568px;  
       height: 500px;  
       top: -1150px;  
       left: -3091px;
   }  

  h1 {     
    font-weight: 900;
    font-size: 100px; 
    width: 513px;  
    height: 122px;    
    color: rgba(81, 81, 81, 1);
 
  }

  h2 {    
      font-weight: 500;  
      font-size: 44px;  
      width: 448px;  
      height: 71px;  
      color: rgba(81, 81, 81, 1);

  }
   
   p {   
      font-weight: 400;  
      font-size: 24px;  
      width: 515px;  
      height: 87px;
    } 

    .prim-button {   
      font-weight: 600;  
      font-size: 24px; 
      height: 41px;
      width: 130px; 
           

   }

   img {  
         width: 455px;  
         height: 425px;  
         margin-left: 65px;  
         margin-top: 77px;    
   }

     .hpb  {  
            margin: 0; 
            padding: 0;  
            margin-left: 650px;  
            margin-top: -380px;  

     }

      h1 {    
            font-size: 100px;  
            color: rgba(81, 81, 81, 1);     
      } 

     h2 {  
         font-size: 55px;
          width: 448px;  
          height: 72px; 
          margin-top: 0px; 
          margin-bottom: 20px;
         color: rgba(81, 81, 81, 1);

     }       

     p {  
        font-size: 22px;    
        color: rgba(132, 132, 132, 1);
     }

     p:hover {  
          color: aquamarine;
     }

     .seg-button  {   
            font-size: 28px;  
            font-weight: 600;
            background: rgba(149, 214, 27, 0.836);
       width: 209px;   
       height: 52px;  
       margin-top: 20px; 
       border-radius: 40px;  
       border: none;  
       cursor: pointer;  
       transition: transition 0.02s;
     }  

     .seg-button:hover{  
      transform: scale(1.05);
  }

    @media (min-width: 670px) and (max-width: 1000px) {
        
     *{  
        box-sizing: border-box;
        background-color: black;
     }

     .topo{ 
       display: none;
     }

     .prim-button { 
       display: none;
     }

      img { 
        max-width: 708px;
        max-height: 601px;
        margin-left: 131px;
        margin-top: 0px;  
      }

      h1 {   
        position: relative;
        margin-left: -528px;
        margin-top: 393px;
        font-size: 100px;  
        color: aquamarine;
      }
  
     h2 {  
      margin-top: 57px;
      margin-left: -485px;
      height: 22px;
      font-size: 56px;
      font-weight: 700; 
      color: aquamarine;
     }

    p {  
      display: none;
    }

    .seg-button {  
      margin-left: -505px;
      margin-top: 80px;
      width: 453px;
      height: 126px; 
      font-size: 57px;
    }

    }  

    @media (max-width: 750px) {  
      
       * {   
          box-sizing: border-box;
          background-color: blueviolet;
        }

            

      .topo{ 
        display: none;
      }
 
      .prim-button { 
        display: none;
      }
  
      img {  
        margin: 0 auto;
        padding: 0;
        max-width: 454px;
        max-height: 430px;
        margin-left: 101px;
        margin-top: 26px;
      }       
      
      h1 {  
        font-size: 74px;
        margin-left: -503px;
        margin-top: 431px;
         
        }      

      h2 {  
        font-size: 57px;
        margin-left: -523px;
        margin-top: 78px;
    }
   
      p {  
        display: none;
      }
       
    .seg-button {  
      margin-left: -486px;
      margin-top: 106px;
      font-size: 52px;
      border-radius: 33px;
      width: 337px;
      height: 85px;
    }

    }  

